#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

$h2 About ${project.name}

Built-in compilers compatible with different SBT versions.

### Project Modules

This project declares the following modules:

| Name                                                             | Description                              |
|------------------------------------------------------------------|-----------------------------|
| [SBT Compiler for SBT 0.12](./sbt-compiler-sbt012/index.html)    | SBT Compiler for SBT 0.12   |
| [SBT Compiler for SBT 0.13.0](./sbt-compiler-sbt013/index.html)  | SBT Compiler for SBT 0.13.0 |
| [SBT Compiler for SBT 0.13.1](./sbt-compiler-sbt0131/index.html) | SBT Compiler for SBT 0.13.1 |
| [SBT Compiler for SBT 0.13.2](./sbt-compiler-sbt0132/index.html) | SBT Compiler for SBT 0.13.2 |
| [SBT Compiler for SBT 0.13.5](./sbt-compiler-sbt0135/index.html) | SBT Compiler for SBT 0.13.5 |
| [SBT Compiler for SBT 0.13.6](./sbt-compiler-sbt0136/index.html) | SBT Compiler for SBT 0.13.6 |
| [SBT Compiler for SBT 0.13.7](./sbt-compiler-sbt0137/index.html) | SBT Compiler for SBT 0.13.7 |
| [SBT Compiler for SBT 0.13.8](./sbt-compiler-sbt0138/index.html) | SBT Compiler for SBT 0.13.8 |
| [SBT Compiler for SBT 0.13.9](./sbt-compiler-sbt0139/index.html) | SBT Compiler for SBT 0.13.9 |

