#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')
#set($h4 = '####')

$h2 About ${project.name}

Built-in compilers compatible with different SBT versions.

### Project Modules

This project declares the following modules:

| Name                                                             | Description                              |
|------------------------------------------------------------------|-----------------------------|
| [SBT Compiler for SBT 0.12.x](./sbt-compiler-sbt012/index.html)  | SBT Compiler for SBT 0.12.x |
| [SBT Compiler for SBT 0.13.x](./sbt-compiler-sbt013/index.html)  | SBT Compiler for SBT 0.13.x |

